.rect {
background-color: #4CAF50; /* Green */
min-height: 2rem;
min-width: 5rem;
text-align: center;
background-color: transparent;
border: 1px solid transparent;
border-color: var(--color-bg);
}

.round {
    min-height: 2rem;
    min-width: 5rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: var(--color-text);
    border-radius: 15px;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
}

.btn {
    display: flex;
    min-height: 100%;
}

.round:hover {
    color: var(--color-primary);
    text-decoration: underline;
    background-color: var(--color-button)
}